body {
	background-color: inherit !important;
	float: left;
}

#pdfMainContainer {
	width: 100%;
	margin: 20px auto;
}

#pdfLoader {
	text-align: center;
	color: #999999;
	font-size: 13px;
	float: left;
}

#pdfContents {
	display: none;
}

#pdfMeta {
	margin: 0 0 20px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#pdfBtns {
	float: left;
}

#pdfZoomBtns {
	display: flex;
	align-items: center;
}

#zoomPercent {
	padding-top: 20px;
}

#pageCountDiv {
	float: right;
}

#pdfCurrentPage {
	display: inline;
}

#pdfTotalPages {
	display: inline;
}