body {
	float: left;
}

#pdfMainContainer {
	width: 100%;
	margin: 20px auto;
}

#pdfLoader {
	text-align: center;
	color: #999999;
	font-size: 13px;
	float: left;
}

#pdfContents {
	display: none;
}

#pdfMeta {
	overflow: hidden;
	margin: 0 0 20px 0;
}

#pdfBtns {
	float: left;
}

#pageCountDiv {
	float: right;
}

#pdfCurrentPage {
	display: inline;
}

#pdfTotalPages {
	display: inline;
}