body {
	float: left;
}

#showPdfBtn {
	width: 150px;
	display: block;
	margin: 20px auto;
}

#pdfMainContainer {
	width: 400px;
	margin: 20px auto;
}

#pdfLoader {
	display: none;
	text-align: center;
	color: #999999;
	font-size: 13px;
	line-height: 100px;
	height: 100px;
}

#pdfContents {
	display: none;
}

#pdfMeta {
	overflow: hidden;
	margin: 0 0 20px 0;
}

#pdfBtns {
	float: left;
}

#pageCountDiv {
	float: right;
}

#pdfCurrentPage {
	display: inline;
}

#pdfTotalPages {
	display: inline;
}

#pdfCanvas {
	border: 1px solid rgba(0,0,0,0.2);
	box-sizing: border-box;
}

#loaderDiv {
	height: 100px;
	line-height: 100px;
	text-align: center;
	display: none;
	color: #999999;
	font-size: 13px;
}